body {
	margin:0; 
	padding:0;
}

img{
	height: 100%;
	width: 18%;
	float: left;
}

a {
	color : #65625B;
}

#headr{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #CD5C5C;
	height: 6%;
	margin-top: 2%;
	font-variant: small-caps;
}

#introduction {
	height: 200px;
	width: 850px;
	font-size: 16px;
	font-weight: normal;
	margin-left: 19%;
}

#introduction:first-letter {
	font-style: italic;
	font-size: 40px;
}

#explication {

	font-size: 20px;
	margin-top: 2%;
	border-radius: 10px;
	width: 80%;
	text-align: center;
	opacity: 0.5;
	color: black;
}

#chaos {
	width: 15%;
	height: 25%;
	margin-left: 1%;
	float: left;
}

#form {
	margin-top: 5%;
}

.text {
	margin-left: 13%;
	margin-top: 1%;
	font-size: 15px;
}

ul.liste {
	list-style-type: circle;
	margin-left: 3%;
}
.loi{
	font-weight: bold;
	color: #787878;
	margin-bottom: 3px;
}
#graphique{
	margin-top: 5%;
	margin-left: 25%;
}

#pointfixe{
	margin-left: 20%;
	margin-top: 3%;
}