body {
	background: #A1B4CD;
	margin:0; 
	padding:0;
}

@font-face {
	font-family: 'Learning Curve';
	src : url(Polices/LearningCurve_OT.otf);
}

@font-face {
	font-family: 'Windsong';
	src : url(Polices/Windsong.ttf);
}

#header{
	height: 70px;
	width: 900px;
	font-size: 60px;
	font-weight: bold;
	font-family: "Learning Curve";
	border-style: solid;
	border-color: white;
}

#introduction {
	height: 200px;
	width: 1400px;
	font-size: 40px;
	font-weight: normal;
	font-family: Windsong;
	margin-left: 20px;
}