body {
	margin:0; 
	padding:0;
	color:#65625B; 
	background:#fff url(main2_bg.gif);
}

img{
	margin-top: 2%;
	height: 100%;
	width: 18%;
	float: left;
}

#header{
	height: 70px;
	width: 900px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #CD5C5C;
}

#introduction {
	height: 200px;
	width: 1100px;
	font-size: 16px;
	font-weight: normal;
	margin-left: 17%;
}

#introduction:first-letter {
	font-style: italic;
	font-size: 40px;
}